.home-screen {
    .highcharts-chart { 
        display: block;
        width: 100%;
        height: auto
     }
     .vehicle-chart{
         width: 300px;
         display: flex;
         margin-inline: auto;
     }
    .chart-con {
        width: 300px;
        display: flex;
         margin-inline: auto;
        // height: 250px;
    }
    .bar-chart-con{
        width: 100%;
        height: 200px;
        padding-right: 20%;
        .highcharts-root{
            width: 100% !important;
            height: 100% !important;
        }
    }
    .notify-con{
        .bell-icon{
            background-color:#fdf4cc;
            svg{
                // border-radius:50% ;
                // padding: 20px;
                width: 15px;
            }
        }

    }

    .medallion-reading {
        div {
            border-color: var(--text-grey);
            border-width: 2px;
            &:nth-child(1) {
                border-right-style: dashed;
                border-bottom-style: dashed;
            }

            &:nth-child(2) {
                border-bottom-style: dashed;
            }

            &:nth-child(3) {
                border-right-style: dashed;
            }
        }
    }
}