.login-page-container {
    width: 100vw;
    height: 100vh;
    padding-left: 45px;
    padding-right: 48px;
    padding-top: 37px;
    padding-bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: inherit;
    overflow-y: auto;
}
.custom-carousel .p-carousel-prev,.custom-carousel .p-carousel-next{
    display: none;
    /* height: 100px; */
}
.custom-carousel.p-carousel .p-carousel-indicators .p-carousel-indicator button{
    width: .2rem;
    height: 4rem;
}
.custom-carousel .p-carousel-content{
    display: flex;
    flex-direction: row-reverse;
}
.custom-carousel .p-carousel-items-content{
    display: flex;
    align-items: center;
}
.custom-carousel.p-carousel .p-carousel-indicators .p-carousel-indicator button{
    background:#8a8989e0;
}
.custom-carousel.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button{
    background:#000000;
}

.container-sec {
    display: flex;
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    border-radius: 30px;
}

.container-left,
.container-right {
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.container-left {
    width: 50%;
}

.container-right {
    width: 50%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.car-image {
    position: absolute;
    bottom: 1px;
    left: 1px;
    margin-left: -55px;
    margin-bottom: -70px;
    z-index: 1;
    width: 80%;
    /* max-width: 500px; */
    left: 42px;
}

.logo-image {
    position: absolute;
    bottom: 10px;
    right: 120px;
    width: 100px;
    margin-top: 10px;
    z-index: 1;  
}
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc; 
 }

 .form-container{
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3); 
    margin-right: 60px;
    padding: 40px;
 }

 .form {
    z-index: 4;
 }

h2 {
    text-align: center;
    margin-bottom: 1rem;
}


.form {
    background-color: transparent;
    width: 100%;
    .p-component{
        width: 100%;
    }
    .p-field {
        margin-bottom: 1rem;
        width: 100%;
    }
    .p-field .password-field .p-input-icon{
        transform: translateY(-50%);
        margin: unset;
    }
    
    .p-field-checkbox {
        width: 30px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .remember-me-label {
        font-size: var(--fs17);
        color: #000000;
        margin-left: 10px;
        white-space: nowrap; 
    }
    .forgot-password-link {
        font-size: var(--fs17);
        text-align: right; 
    }
    .p-icon-field {
        width: 100%;  
    }
    .btn-con {
        width: 100%;
        background-color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn-con svg{
        width: 19px;
        /* margin-inline: auto;    */
        /* display: flex;      */
    }
    .btn-con button{
        width: 100%;
        background-color: #000000;
    }
}



.horizontal-bar {
    width: 4px;
    height: 300px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.brand-wrapper {
    /* position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brand-text {
    font-size: var(--fs43);
    font-weight: 600;
    color: #000000;
    margin-bottom: 10px;
    text-align: center;
}

.brand-message {
    font-size: var(--fs22);
    font-weight: 500;
    color: #000000;
    text-align: center;
}

.sigin-text {
    font-size: var(--fs30);
    font-weight: 700;
    color: #000000;
    margin-bottom: 10px;
    text-align: center;
    z-index: 6;
    opacity: 100%;
}