.todo-sec {
    // width: 3%;
    // min-width: 40px;
    .todo-con {
        position: fixed;
        top: 60%;
        right: 0;
        transform: translateY(-50%);
        height: 60%;
        .p-divider.p-divider-horizontal{
            padding: unset;
        }
        .todo-text{
            text-align: end;
            color: var(--text-white);
            writing-mode: vertical-lr;
            text-align: center;
            transform: rotate(180deg);
        }
        .todo-toggle-btn{
            background-color: var(--bg-black);
            z-index:2;
            svg{
                width: 20px;
                height: 20px;
                path{
                    fill: var(--text-white);
                }
            }
        }
        
    }
}
.todo-backet{
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #EEEEEE;
    z-index: -1;
    padding: var(--fs20) var(--fs30);
    transition: .6s all;
    overflow: hidden;
    display: none !important;
    width: calc(100vw - 200px);
    &.active{
        overflow: visible;
        display: flex !important;
        width: calc(100vw - 200px);
        // transform:translateX(calc(100vw - 200px));
    }
    .todo-backet-header{
        width: 95%;
        .p-paginator-element,.p-dropdown,.p-paginator-current{
            background-color: transparent;
        }
        .p-paginator button.p-highlight {
            background-color: var(--primarycolor);
        }
    }
    .predefined-dropdown{
        border: 0;
            background-color: transparent;
            border-bottom: 1px solid ;
            border-radius: 0;
    }
    .p-calendar{
        .p-inputtext{
            border: 0;
            background-color: transparent;
        }
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid ;
    }
    .p-datatable {
        overflow: auto;
        flex-grow: 1;
        width: 95%;
        .case-id-con{
            svg{
                width: 20px;
                path{
                    fill: var(--bg-black);
                }
            }
        }
        .p-datatable-thead {
            border-bottom: 2px solid ;
            tr{
                position: sticky;  
                top: 0; 
                border-bottom: 2px solid ;
            }
            &> tr > th{
                position: sticky;  
                top: 0; 
                background: #EEEE;
                border-bottom: 2px solid ;
            }
        }
        .p-datatable-tbody > tr {
            background: transparent;
            border-bottom: 1px solid  var(--text-hash);
        }
    }
}