// @font-face {
//   font-family:dmsans-regular;
//   src: url("/assets/fonts/DMSans-Bold.ttf");
// }

// @font-face {
//   font-family:dmsans-bold;
//   src: url("/assets/fonts/DMSans-Bold.ttf");
// }
// @font-face {
//   font-family:dmsans-light;
//   src: url("/assets/fonts/DMSans-Light.ttf");
// }
// @font-face {
//   font-family:dmsans-light-italic;
//   src: url("/assets/fonts/DMSans-LightItalic.ttf");
// }
// @font-face {
//   font-family:dmsans-medium;
//   src: url("/assets/fonts/DMSans-Medium.ttf");
// }

* {
  font-family: dmsans-regular;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --fs1: clamp(0.625px, 1vw * 100 / 1920, 1px);
  --fs2: clamp(1.25px, 2vw * 100 / 1920, 2px);
  --fs3: clamp(1.875px, 3vw * 100 / 1920, 3px);
  --fs4: clamp(2.5px, 4vw * 100 / 1920, 4px);
  --fs5: clamp(3.125px, 5vw * 100 / 1920, 5px);
  --fs6: clamp(3.75px, 6vw * 100 / 1920, 6px);
  --fs7: clamp(4.375px, 7vw * 100 / 1920, 7px);
  --fs7: clamp(5px, 8vw * 100 / 1920, 8px);
  --fs9: clamp(5.625px, 9vw * 100 / 1920, 9px);
  --fs10: clamp(5.1666666667px, 10vw * 100 / 1920, 10px);
  --fs11: clamp(5.6833333333px, 11vw * 100 / 1920, 11px);
  --fs12: clamp(6.2px, 12vw * 100 / 1920, 12px);
  --fs13: clamp(6.7166666667px, 13vw * 100 / 1920, 13px);
  --fs14: clamp(7.2333333333px, 14vw * 100 / 1920, 14px);
  --fs15: clamp(7.75px, 15vw * 100 / 1920, 15px);
  --fs16: clamp(8.2666666667px, 16vw * 100 / 1920, 16px);
  --fs17: clamp(8.7833333333px, 17vw * 100 / 1920, 17px);
  --fs18: clamp(9.3px, 18vw * 100 / 1920, 18px);
  --fs19: clamp(9.8166666667px, 19vw * 100 / 1920, 19px);
  --fs20: clamp(10.3333333333px, 20vw * 100 / 1920, 20px);
  --fs21: clamp(10.85px, 21vw * 100 / 1920, 21px);
  --fs22: clamp(11.3666666667px, 22vw * 100 / 1920, 22px);
  --fs23: clamp(11.8833333333px, 23vw * 100 / 1920, 23px);
  --fs24: clamp(12.4px, 24vw * 100 / 1920, 24px);
  --fs25: clamp(12.9166666667px, 25vw * 100 / 1920, 25px);
  --fs26: clamp(13.4333333333px, 26vw * 100 / 1920, 26px);
  --fs27: clamp(13.95px, 27vw * 100 / 1920, 27px);
  --fs28: clamp(14.4666666667px, 28vw * 100 / 1920, 28px);
  --fs29: clamp(14.9833333333px, 29vw * 100 / 1920, 29px);
  --fs30: clamp(15.5px, 30vw * 100 / 1920, 30px);
  --fs31: clamp(16.0166666667px, 31vw * 100 / 1920, 31px);
  --fs32: clamp(16.5333333333px, 32vw * 100 / 1920, 32px);
  --fs33: clamp(17.05px, 33vw * 100 / 1920, 33px);
  --fs34: clamp(17.5666666667px, 34vw * 100 / 1920, 34px);
  --fs35: clamp(18.0833333333px, 35vw * 100 / 1920, 35px);
  --fs36: clamp(18.6px, 36vw * 100 / 1920, 36px);
  --fs37: clamp(19.1166666667px, 37vw * 100 / 1920, 37px);
  --fs38: clamp(19.6333333333px, 38vw * 100 / 1920, 38px);
  --fs39: clamp(20.15px, 39vw * 100 / 1920, 39px);
  --fs40: clamp(20.6666666667px, 40vw * 100 / 1920, 40px);
  --fs41: clamp(21.1833333333px, 41vw * 100 / 1920, 41px);
  --fs42: clamp(21.7px, 42vw * 100 / 1920, 42px);
  --fs43: clamp(22.2166666667px, 43vw * 100 / 1920, 43px);
  --fs44: clamp(22.7333333333px, 44vw * 100 / 1920, 44px);
  --fs45: clamp(23.25px, 45vw * 100 / 1920, 45px);
  --fs46: clamp(23.7666666667px, 46vw * 100 / 1920, 46px);
  --fs47: clamp(24.2833333333px, 47vw * 100 / 1920, 47px);
  --fs48: clamp(24.8px, 48vw * 100 / 1920, 48px);
  --fs49: clamp(25.3166666667px, 49vw * 100 / 1920, 49px);
  --fs50: clamp(25.8333333333px, 50vw * 100 / 1920, 50px);
  --fs51: clamp(26.35px, 51vw * 100 / 1920, 51px);
  --fs52: clamp(26.8666666667px, 52vw * 100 / 1920, 52px);
  --fs53: clamp(27.3833333333px, 53vw * 100 / 1920, 53px);
  --fs54: clamp(27.9px, 54vw * 100 / 1920, 54px);
  --fs55: clamp(28.4166666667px, 55vw * 100 / 1920, 55px);
  --fs56: clamp(28.9333333333px, 56vw * 100 / 1920, 56px);
  --fs57: clamp(29.45px, 57vw * 100 / 1920, 57px);
  --fs58: clamp(29.9666666667px, 58vw * 100 / 1920, 58px);
  --fs59: clamp(30.4833333333px, 59vw * 100 / 1920, 59px);
  --fs60: clamp(31px, 60vw * 100 / 1920, 60px);
  --fs61: clamp(31.5166666667px, 61vw * 100 / 1920, 61px);
  --fs62: clamp(32.0333333333px, 62vw * 100 / 1920, 62px);
  --fs63: clamp(32.55px, 63vw * 100 / 1920, 63px);
  --fs64: clamp(33.0666666667px, 64vw * 100 / 1920, 64px);
  --fs65: clamp(33.5833333333px, 65vw * 100 / 1920, 65px);
  --fs66: clamp(34.1px, 66vw * 100 / 1920, 66px);
  --fs67: clamp(34.6166666667px, 67vw * 100 / 1920, 67px);
  --fs68: clamp(35.1333333333px, 68vw * 100 / 1920, 68px);
  --fs69: clamp(35.65px, 69vw * 100 / 1920, 69px);
  --fs70: clamp(36.1666666667px, 70vw * 100 / 1920, 70px);
  --fs71: clamp(36.6833333333px, 71vw * 100 / 1920, 71px);
  --fs72: clamp(37.2px, 72vw * 100 / 1920, 72px);
  --fs73: clamp(37.7166666667px, 73vw * 100 / 1920, 73px);
  --fs74: clamp(38.2333333333px, 74vw * 100 / 1920, 74px);
  --fs75: clamp(38.75px, 75vw * 100 / 1920, 75px);
  --fs76: clamp(39.2666666667px, 76vw * 100 / 1920, 76px);
  --fs77: clamp(39.7833333333px, 77vw * 100 / 1920, 77px);
  --fs78: clamp(40.3px, 78vw * 100 / 1920, 78px);
  --fs79: clamp(40.8166666667px, 79vw * 100 / 1920, 79px);
  --fs80: clamp(41.3333333333px, 80vw * 100 / 1920, 80px);
  --primarycolor: #FEC917;
  --redcolor: #ff0000;
  --orangecolor:#FA7F2B;
  --pinkcolor:#F72585;
  --greencolor: #1dc13b;
  --text-color: #000000;
  --text-white: #fff;
  --text-grey: rgba(0, 0, 0, 0.539);
  --bg-white: #ffff;
  --bg-black: #000000;
  --bg-grey: rgba(238, 238, 238, 1);
  --text-hash: rgb(106, 104, 104);
  --background-color: #FFCD09;
  --bg_success: #ffff;
  --text_link: #0793ED;
  --primary-button-bg-color: #FEC917;
  --text-blue: #1056EF;
  --bluishcyn:#136081;
  --reddishorange:#E97231;
}

@media (max-width: 1399.98px) {
  :root {
    --fs10: 08.25px;
    --fs11: 08.875px;
    --fs12: 09.5px;
    --fs13: 010.125px;
    --fs14: 010.75px;
    --fs15: 012.375px;
    --fs16: 12px;
    --fs17: 12.625px;
    --fs18: 13.25px;
    --fs19: 13.875px;
    --fs20: 14.5px;
    --fs21: 15.125px;
    --fs22: 15.75px;
    --fs23: 16.375px;
    --fs24: 17px;
    --fs25: 17.625px;
    --fs26: 18.25px;
    --fs27: 18.875px;
    --fs28: 19.5px;
    --fs29: 20.125px;
    --fs30: 20.75px;
    --fs31: 21.75px;
    --fs32: 22px;
    --fs33: 22.625px;
    --fs34: 23.25px;
    --fs35: 23.875px;
    --fs36: 24.5px;
    --fs37: 25.125px;
    --fs38: 25.75px;
    --fs39: 26.375px;
    --fs40: 27px;
    --fs41: 27.625px;
    --fs42: 28.25px;
    --fs43: 28.875px;
    --fs44: 28.5px;
    --fs45: 30.125px;
    --fs46: 30.75px;
    --fs47: 31.375px;
    --fs48: 32px;
    --fs49: 32.625px;
    --fs50: 33.25px;
    --fs51: 33.875px;
    --fs52: 34.5px;
    --fs53: 35.125px;
    --fs54: 35.75px;
    --fs55: 36.375px;
    --fs56: 37px;
    --fs57: 37.625px;
    --fs58: 38.25px;
    --fs59: 38.875px;
    --fs60: 39.5px;
    --fs70: 39.5px;
    --fs80: 57px;
  }
}