.miscellaneous-screen {
    .miscellaneous-card-con {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        gap:var(--fs30);
        .miscellaneous-card {
            aspect-ratio: 1/.9;
            padding: 15px;
            .top-icon{
                width: 50px;
                &.tlc,&.ezpass{
                    width: 100px;
                }
            }
            .title{
                svg{
                    width: 20px;
                }
            }
        }
    }
}