.pdf-backdrop-view{
    width: 200px;
    height: 200px;
    .react-pdf__Page,.react-pdf__Page__canvas,.react-pdf__Page__textContent,.react-pdf__Document{
        width: 100% !important;
        height: 100% !important;
    }
    .pdf-layout{
        border: 4px solid ;
        width: 100% !important;
        height: 100% !important;
        position: relative;
        // &:hover{
        //     &::before{
        //         content: "";
        //         width: 100%;
        //         height: 100%;
        //         background-color: rgba(0, 0, 0, 0.29);
        //         position:absolute;
        //         top: 0;
        //         left: 0;
        //     }
        // }
        .img-view{
            width: 100% !important;
            height: 100% !important;
        }
    }
}
.success-icon{
    width: 20px;
}