.manage-medallian {
    // width:'100%',height:'100%' ,paddingLeft:'51px',paddingRight:'186px'
    // width: 100%;
    // height: 100%;
    // padding-left: 16px;
    // padding-right: 16px;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // margin-bottom: 68px;

        .left-content {
            .page-topic {
                size: 26px;
                font-weight: 600;
            }

            .list-count {
                size: 16px;
                opacity: 50%;
                font-weight: 300;
            }
        }

        .right-content {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 21px;

            .spliter {
                height: 20px;
                display: inline-block;
                vertical-align: middle;
                margin: 0 10px;
            }
        }
    }
}

.three-dot-mennu {
    padding: 10px;
}

.active-step {
    background: var(--primarycolor);
    padding: 10px;
    width: 30px;
    height: 30px;
}