.table-component {
    // .header-align-left {
    //     .p-datatable .p-column-header-content {
    //         display: flex;
    //         justify-content: left;
    //     }
    // }

    // .header-align-center {
    //     .p-datatable .p-column-header-content {
    //         display: flex;
    //         justify-content: center;
    //     }
    // }

    // .header-align-right {
    //     .p-datatable .p-column-header-content {
    //         display: flex;
    //         justify-content: right;
    //     }
    // }


    // .p-datatable .p-datatable-tbody>tr>td.align-left {
    //     text-align: left;
    // }

    // .p-datatable .p-datatable-tbody>tr>td.align-center {
    //     text-align: center;
    // }

    // .p-datatable .p-datatable-tbody>tr>td.align-right {
    //     text-align: right;
    // }

    thead {
        border-bottom: 2px solid var(--bg-black);
        font-size: var(--fs18);
    }

    .p-checkbox .p-checkbox-box {
        border: 1px solid var(--bg-black);
        border-radius: 2px;
    }

    .p-checkbox.p-highlight .p-checkbox-box {
        border: 0px;
    }

    .p-datatable-tbody>tr {
        border-bottom: 2px solid var(--bg-grey);
        font-size: var(--fs16);
    }

    .doc-img {
        svg {
            width: var(--fs35);
        }
    }
}