.p-toast .custom-1 {

    .toast-1 {
        .p-progressbar {
            height: 5px;
            background: unset;
            border-radius: unset;

        }

        .p-progressbar-determinate .p-progressbar-value-animate {
            transition: none;
        }

        .custom-toast-content {
            padding-top: 17px;
            padding-bottom: 17px;
            padding-left: 22px;
            padding-right: 22.67px;
            display: flex;
            flex-direction: row;
            position: relative;
            gap: 23px;

            .status-icon {
                display: flex;
                align-items: center;
            }

            .data-content {
                padding-right: 17px;

                strong {
                    font-weight: 700;
                    line-height: 26.04px;
                    size: 20px;
                }

                p {
                    font-size: 14px;
                    line-height: 18.23px;
                    font-weight: 400;
                }
            }

            .close-icon {
                position: absolute;
                right: 16px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;

                .pi {
                    font-size: 25px;
                }
            }
        }
    }
}