.b-upload {
    .p-dialog-header {
        display: none;
    }

    .p-dialog-content {
        padding: 2.5rem !important;
    }
}

.b-upload-container {
    background-color: var(--bg-white);
    max-width: 800px;
    padding: 40px;
    display: contents;

    .close {
        position: absolute;
        right: 2.5rem;
    }
}

.b-title-container {
    display: grid;
}

.b-upload-title {
    font-weight: 500;
    font-size: var(--fs24);
    color: var(--text-color);
}

.b-upload-sub-title {
    font-weight: 300;
    font-size: var(--fs14);
    color: var(--text-grey);
}

.b-upload-content {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.b-empty-container {
    justify-items: center;
}

.b-upload-left-container {
    height: 237px;
    width: 280px;
    // border: 1px;
    // border-style: dashed;
    // margin-right: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    .attach-con{
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        border:3px dashed  #ccc;
    }
    .attach-file{
        width: 200px;
        border:2px  dashed var(--bg-grey);
        .close-icon{
          width: var(--fs20);
          height: var(--fs20);
          padding: 0;
          svg{
            width: 100%;
            height: 100%;
          }
        }
      }
    // .p-button {
    //     background-color: transparent;
    //     border: none;
    //     background-color: transparent !important;
    //     border: none;
    //     width: 0px;
    //     height: 0px;
    //     padding: 0px;
    //     margin: 0px;
    // }

    .p-fileupload-buttonbar {
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        padding: 0px;
    }

    .p-fileupload-content {
        background-color: transparent;
        border: none;
        padding: 0px;
    }

    .b-upload-click-text {
        color: var(--text_link);
        cursor: pointer;
        text-decoration: underline;
        font-weight: 400;
        font-size: var(--fs20);
    }

    .b-upload-message-text {
        font-size: var(--fs12);
        font-weight: 300;

    }
}

.b-upload-right-container {
    height: 237px;
    width: 50%;

    .item {
        min-width: none;
        width: 100%;
    }

    .p-float-label {
        border-bottom: 1px solid var(--text-hash) !important;
    }

    .p-inputtext {
        border: none !important;
    }



    .p-button-icon-only {
        border: none !important;
        background-color: transparent !important;
    }

}

.b-button-cancel {
    border: none !important;
    background-color: transparent;
    color: var(--text-color);
}

.b-button-attach {
    border: none !important;
    background-color: var(--primary-button-bg-color);
    color: var(--text-color);
}

.b-upload-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.p-fileupload-content {
    .b-item-row {
        .p-fileupload-row {
            background-color: aqua;
        }
    }
}