.confirm-modal{
    .header{
        .header-text{
            display: flex;  
            align-items: center;
            gap: 15px;
            font-family: dmsans-semibold;
            font-size: var(--fs22);
            svg{
                width: 40px;
            }
        }

        .close-icon{
            svg{
                width: 16px;
            }
        }
    }
    .header-svg{
        svg{
            width: 60px;
        }
    }
    .modal-body{
        width: 70%;
        .upload-con{
            width: 300px;
            height: 200px;
            // border-radius: 10px;
            border: 3px dashed var(--text-grey);
        }
    }
    .modal-footer{
        button{
            width: unset;
            padding-inline:30px;
        }
    }
}

.success-modal{
    .header{
        .close-icon{
            svg{
                width: 16px;
            }
        }
    }
    .success-icon{
            width: 60px;
            height: 40px;
    }
}

.side-modal{
    position: relative;
    .p-dialog-header{
        display: unset;
        .p-dialog-header-icon:focus{
            box-shadow: unset;
        }
        .p-dialog-header-close {
            display: none;
        }
    }
    .cancel-btn{
        position: absolute;
        right: 100%;
        top: 10%;
        background: var(--text-color);
        padding: 10px;
        svg{
            path{
                fill: var(--text-white);
            }
        }
    }
}

.medallion-list-modal{
    width: 500px;
    .modal-body{
        height: 200px;
        overflow: auto;
    }
}