header{
    background-color: var(--primarycolor);
    padding-inline: 15px;
    padding-block: var(--fs10);
    .logo{
        gap: 5px;
        font-family: dmsans-bold;
        img{
            width: var(--fs80);
        }
    }
    .user-profile{
        width: 60px;
        height: 60px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .advance-search-con{
        width: 40%;
        min-width:500px ;
        background-color: var(--bg-white);
        border-radius: 30px;
        .p-dropdown{
            width: 180px;
            .p-dropdown-label{
                padding-right: unset;
            }
        }
    }
    .notify-btn{
        width: var(--fs26);
        svg{
            width: 100%;
        }
    }
    .p-icon-field > .p-input-icon{
        transform: translateY(-50%);
        margin: unset;
    }
}