.icon-with-badge-container {
    display: inline-block;
    position: relative;
    width: 80px;
    /* Adjust size */
    height: 80px;
}

.icon-with-badge {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.badge {
    position: absolute;
    right: -7px;
    z-index: 1;
    top: -10px;
    min-width: 1.25rem !important;
    height: 1.25rem !important;
    line-height: 1.25rem !important;
}