.pdf-viewer{
    .p-paginator{
        top: 4px;
        left: 50%;
        display: none;
        transform: translateX(-50%);
        button,span{
            border: 0;
            color: var(--text-color);
        }
    }
    &:hover{
        .p-paginator{
            display: block;
            z-index: 3;
        }
    }
    .react-pdf__Page__canvas{
        border: 4px solid var(--bg-black);
    }
}