/* Main container */
.view-medallion-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Header section */
.medallion-header {
    display: flex;
    align-items: center;
}

.medallion-header h1 {
    font-weight: 500;
    font-size: 20px;
}

/* Status Indicator */
.status-indicator {
    margin-left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.status-indicator.active {
    background-color: #1DC13B;
}

.status-indicator.inactive {
    background-color: #ED1C24;
}

/* Medallion details row */
.medallion-details {
    display: flex;
    align-items: center;
}

.separator {
    margin-left: 10px;
    width: 10px;
    height: 10px;
    background-color: #00000033;
    border-radius: 50%;
}

/* Content layout */
.medallion-content {
    display: flex;
}

/* Medallion information */
.medallion-info {
    width: 500px;
    position: relative;
    margin-right: 10px;
    margin-left: 20px;
    margin-right: 20px;

    .medallion-table {
        width: 100%;
        border-collapse: "collapse";
    }

    .table-data-key {
        color: #7A7A7A;
        // font-size: 14px;
        text-align: left;
        padding: 5px 10px 5px 0;
        white-space: unset;
    }

    .table-data-value {
        color: #000000;
        // font-weight: 500;
        // font-size: 16px;
        text-align: left;
        padding: 5px 0;
        white-space: unset;
    }

}


.section-title {
    font-weight: 600;
    font-size: var(--fs20);
    color: #000;
    padding-bottom: 28px;
}

.medallion-basic {
    display: flex;
    flex-direction: row;
    gap: 22.69px;
}

.icon {
    width: 42.31px;
    height: 41px;
}

.vertical-line {
    margin-left: 10px;
}

/* Contact Information */
.contact-info {
    display: flex;
    flex-direction: column;
    padding-left: 65px;
}

.contact-address {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 22px;
}

.contact-phone {
    display: flex;
    flex-direction: row;
    gap: 13px;
}

.medallion-owner-name {
    font-size: var(--fs34);
}

.custom-hr {
    height: 0.5px;
    background-color: black;
    border: none;
    align-items: end;
}

.custom-hr-topic {
    // height: 5px;
    // background-color: black;
    // border: none;
    // align-items: end;
}

.view-tr-1 {
    color: "#7A7A7A";
    font-size: "14px";
    text-align: "left";
    padding: "5px 10px 5px 0";
    white-space: "nowrap";
}

.view-tr {
    color: "red";
    font-size: "14px";
    text-align: "left";
    padding: "5px 10px 5px 0";
    white-space: "nowrap";
}

.driver-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding-left: 65px;
}

.driver-info {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.driver-location {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    right: 7px;
    // padding-bottom: 22px;
}

.driver-contact {
    display: flex;
    flex-direction: row;
    gap: 13px;
    // padding-left: 65px;
}

.icon {
    width: 24px !important;
    height: 24px !important;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.terminate-button {
    color: #FF0000 !important;
    font-size: var(--fs17);
}

.view-btn {
    color: rgba(0, 0, 0, 0.5);
    font-size: var(--fs17);
}

.document-show {
    position: relative;

    .heading {
        font-weight: 600;
        font-size: 24px;
        color: #000000;
        justify-content: flex-start;
        padding-bottom: 28px;
    }

    .document-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .file-container {
        min-width: 280px;
        min-height: 73px;
        border: 1px solid #b9b9b9;
        border-style: dashed;
        display: flex;
        align-items: center;

        .image-container {
            margin-left: 12px;
            margin-right: 12px;

            .image-size {
                width: 26px;
                height: 27.24px;
            }
        }

        .file-name {
            font-Size: 16px;
            font-Weight: 400
        }

        .file-date {
            display: "flex";
            flex-Direction: "row";
            gap: "11px";
        }
    }
}